@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 10px 25px;
    font-family: IBM Plex Mono;
    background-color: #ca7cbc;

}
.roblox {
    height: 100px;

}
.cem {
    height: 70px;
}
body {
    margin: 0;
}
.menu {
    display: flex;
    align-items: center;
    gap: 20px;
    
}
.menu>a {
    text-decoration: none;
    color: white;
}
.menu>a:hover {
    color: gray;
}
.user {
    
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    cursor: pointer;
}
.user>a {
    text-decoration: none;
    color: white;
}
.user>a:hover {
    color: gray;
}
.menuu {
    position: relative;
}
.menuuu {
    text-decoration: none;
    color: white;
}
.menuuu:hover {
    color: gray;
    cursor: pointer;
}
.context {
    position: absolute;
    left: 0;
    top: 50px;
    background-color: rgb(202, 124, 188);
    width: 100px;
    padding: 10px;
    /* box-shadow: 23px 23px ; */
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: none;
    box-shadow: 0 11px 34px -6px rgba(0,0,0,0.75);
    

    

}
.menuu:hover .context {
    display: block;

}
.block {
    padding: 100px;
}
.main {
    font-family: IBM Plex Mono;
}
.reg {
    font-size: 50px;
    color: rgb(136, 72, 82);

}
.inp {
    margin-bottom: 30px;
    
}
#inp_name, #inp_surname, #inp_phone {
    height: 50px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 1px solid #e2e2e2;
    width: 100%;
    background-color: #ca7cbc26;
    color: hotpink;
    border-radius: 3px;
}
button {
    font-family: IBM Plex Mono;
    border: none;
    background-color: rgb(202, 124, 188);
    width: 100%;
    height: 50px;
    font-size: 30px;
    color: white;
    font-weight: 400;
    border-radius: 8px;
    cursor: pointer;
}

